body {
    font-family: sans-serif;
    margin: 0px;
}

nav a{
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 10px;
    width: 70px;
    background-color: aquamarine;
    border-radius: 5px;
}


header{
    background-color: red;
    width: 100%;
    height: 200px;
}

header:hover{
    background-color: aquamarine;
}


div{

}

div:hover{
    margin-left: 200px;

}
